click
PyYAML

# Vector Store
chromadb

# Llama System
llama-index
llama-index-embeddings-huggingface
llama-index-llms-ollama
sentence-transformers
llama-index-vector-stores-chroma

# Analysis
scikit-learn
pandas
matplotlib
seaborn

# Document Parsing
unstructured[local-inference]
PyPDF2
python-docx
docx2txt

# GPU acceleration
torch
